[Unit]
Description=Reorder /etc/resolv.conf to prefer IPv6 nameservers

[Service]
Type=oneshot
StartLimitInterval=2
StartLimitBurst=10
ExecStart=/usr/sbin/resolvloser -i
